
/* Your CSS Code here. */
.main_table{
	border:1px solid;
}
.sub_table{
	border:1px solid;
}
.rows{
	border:1px solid;
}
.content{
	align-content:center;
	border:1px solid;
}
.black_cell{
	background-color:rgb(0,0,0);
	color:white;
}